<style>
   body {
    background-color: rgb(195, 192, 192);
    font-family: Helvetica, sans-serif;
    color: var(--font-color);
 }
 
 main {
    background-color: var(--bg-color);
    margin: 0;
    padding: 5px 10px;
 }

 header {
    background-color: rgb(195,192,192);
    padding: 5px 0;
    margin: 0;
 }
 
 nav ul {
    list-style-type: none;
    padding: 10px 0;
 }
 
 nav li {
    display: inline;
 }
 
 nav li a {
    text-decoration: none;  
    padding: 10px 20px;
 }
 
 nav li a:hover {
    color: white;
    background-color: rgb(47, 0, 255);    
 }

 input[type=text], input[type=number], select {
    box-sizing: border-box;
    width: 250px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
 }

 input[type=submit] {
    width: 250px;
    background-color: #09f;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }

 input[type=submit]:hover {
    background-color: #07d;
 }
</style>
<body>
   <header>
      <h1>Enter Board Game to Delete</h1>
   </header>
   <main>
    <p>Currently there are <%=count%> Users in the student table</p>
    <form method ="POST" action="/deletestd">
        <p>
            <label for="StudentID">Enter Board Game: </label>
            <input type="text" id="stdGameName" name="std_GameName" required>
         </p>
    <button>Submit</button>
</form>

</body>